.contact-me {
    width: 25%;
    padding: 25px;
    align-self: flex-end;
    padding-left: 5%;
}

ul {
    list-style-type: none;
    margin-left: -25px;
}

li {
    padding: 5px;
}

.contact-icon {
    margin-right: 10px;
}